//colors
$primary-color: #fbfaf5;
$secondary-color: #00903a;
$accent-color: #000000;

//text colors
$clear-text: white;

//typography
	//font-sizes
	$fsz-1: 3.5rem;
	$fsz-2: 2.8rem;
	$fsz-3: 2.3rem;
	$fsz-4: 2rem;
	$fsz-5: 1.5rem;
	$fsz-6: 1rem;
	$fsz-7: .5rem;

	//font-families 
	$primary-font: 'Oswald', sans-serif;